{% extends "base.html" %}

{% block title %}Add new feed{% endblock %}

{% block body %}

<h2>Add feed</h2>

<form action="{{ url_for('.add_feed') }}" method="POST">
	{{ form.hidden_tag() }}
	<br>
	<label>Feed name:</label> {{ form.name() }}
	<div class="sources-container">
		<label>Sources</label><button type="button" class="btn-add add-source">+</button>
		{% for source in form.sources.entries %}
			<div class="source_wrap">
				<table cols="3" rows="2" class="sources-list-table">
					<tr>
						<td>Source name:</td>
						<td>{{ source.form.name(class="sources-name") }}</td>
						<td rowspan="2"><button type="button" class="btn-del del-source" onclick="del_source(this);">-</button></td>
					</tr>
					<tr>
						<td>Source url:</td>
						<td>{{ source.form.url(class="sources-url") }}</td>
					</tr>
				</table>
			</div>
		{% endfor %}
	</div>
	<button type="submit" class="btn-save">Save</button>
</form>
{% endblock %}
