{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block sidebar %}
Select feed:
<select id="feed_select">
	{% for feed in feeds %}
	<option value="{{ loop.index - 1 }}" {% if loop.index - 1 == feed_index %}selected{% endif %}>{{ feed.name }}</option>
	{% endfor %}
</select>
{% endblock %}

{% block body %}
<h2>Feed</h2>
{% for img_url in img_urls %}
<div class="img_container">
	<img src="{{ img_url }}" class="img-thumbnail img-resizable" />
</div>
{% endfor %}
{% if page != 0 %}
<a href={{ url_for('feed.view_feed', page=page-1, feed_index=feed_index) }}>Prev</a>
{% endif %}
<a href={{ url_for('feed.view_feed', page=page+1, feed_index=feed_index) }}>Next</a>
{% endblock %}
