{% extends "base.html" %}

{% block title %}Manage feeds{% endblock %}

{% block sidebar %}
<p class="side-note">
Add, delete and edit your feeds.
</p>
<a href="{{ url_for('.add_feed') }}"><button class="btn-add">Add Feed</button></a>
{% endblock %}

{% block body %}
<h2>Manage feeds</h2>
<table cols="3" class="feed-list-table">
	{% for feed in feeds %}
	<tr>
		<td>
			{{ feed.name }}
		</td>
		<td>
			<a href="{{ url_for('.edit_feed', feed_id=feed.id) }}"><button class="btn-edit">Edit</button></a>
		</td>
		<td>
			<form action="{{ url_for('.delete_feed') }}" method="POST">
				{{ del_form.csrf_token() }}
				{{ del_form.feed_id(value=feed.id) }}
				<button type="submit" class="btn-del">Delete</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
