<!doctype html>
<html lang="en">
<head>
<title>{% block title %}Base template title{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/login.css') }}" />
</head>
<body>
<script src="{{ url_for('static', filename='jquery/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='main/js/script.js') }}"></script>
{% block body %}{% endblock %}
</body>
</html>
