{% extends "base_auth.html" %}

{% block body %}
<div class="top-part"></div>
<div class="bottom-part"></div>
<h1 class="logo-header">PT-reader</h1>
<div class="form-login">
	<h2 class="form-signin-heading">Login</h2>
	<div class="btn-container">
		<a href="{{ url_for('auth.login_vk') }}"/>
			<img class="login-img img-circle" src="{{ url_for('static', filename='img/vkontakte-256.png') }}"/>
		</a>
		<a href="{{ url_for('auth.login_vk') }}"/>
			<img class="login-img img-circle" src="{{ url_for('static', filename='img/GooglePlus-logos-02.png') }}"/>
		</a>
		<a href="{{ url_for('auth.login_vk') }}"/>
			<img class="login-img img-circle" src="{{ url_for('static', filename='img/fb-art.png') }}"/>
		</a>
	</div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</div>
{% endblock %}
