.logo-header {
	position: absolute;
	margin-top: 30px;
	font-size: 50px;
	background-color: white;
}

.login-img {
	width: 50px;
	height: 50px;
}

.form-login {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	border: thick solid black;
	border-radius: 5px;
	width: 330px;
	padding: 15px;
	margin: 0 auto;
	height: auto;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	background-color: white;
}

.form-signin-heading {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	padding-right: 10%;
	padding-left: 10%;
}
/*
.top-part {
	z-index: -100;
	position: absolute;
	height: 30%;
	width: 100%;
	background: repeating-linear-gradient(
	45deg,
	#aaa,
	#aaa 5px,
	#eee 5px,
	#eee 20px
	);
}

.bottom-part {
	z-index: -100;
	position: absolute;
	top: 30%;
	height: 50%;
	width: 100%;
	background: repeating-linear-gradient(
	-45deg,
	#aaa,
	#aaa 5px,
	#eee 5px,
	#eee 20px
	);
}
*/
