h1, h2 {
	margin: 0;
}

.img_container {
	margin-top: 20px;
}

.img-resizable {
	max-width: 100%;
	max-height: 100%;
}

.source_wrap {
	margin-top: 20px;
	padding: 5px;
}

.btn-add, .btn-del, .btn-edit, .btn-save {
	display: inline-block;
	box-sizing: content-box;
	border: 1px solid white;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
}

.btn-save {
	margin-top: 10px;
	margin-left: 0;
	background-color: #0a4;
	padding: 10px;
}

.btn-add {
	background-color: #0a4;
}

.btn-del {
	background-color: #a04;
}

.btn-edit {
	background-color: #f90;
}


.btn-add:hover, .btn-save:hover, .btn-del:hover, .btn-edit:hover {
	border: 1px solid black;
} 

.sources-container {
	margin-top: 20px;
}

.sources-name, .sources-url {
	margin-left: 10px;
}

.add-source, .del-source {
	width: 30px;
	height: 30px;
	padding: 0;
}

table.feed-list-table {
	margin-top: 20px;
}

table.feed-list-table tr td {
	padding-bottom: 10px;
}

table.sources-list-table tr td {
	padding-bottom: 10px;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}


/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}


/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.user-name {
	display: block;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
}
