<!doctype html>
<html lang="en">
<head>
<title>PT Reader - {% block title %}Base template title{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/style.css') }}" />
</head>
<body>
<script src="{{ url_for('static', filename='jquery/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='main/js/script.js') }}"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid top-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">PT-reader</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="{{ url_for('feed.view_feed') }}">View</a></li>
				<li><a href="{{ url_for('feed.manage_feeds') }}">Manage</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><span class="user-name">{{ [current_user.first_name, current_user.last_name]|join(' ') }}</span></li>
				<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="sidebar col-sm-3 col-md-2 ">
			{% block sidebar %}{% endblock %}
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
			{% block body %}{% endblock %}
		</div>
	</div>
</div>

</body>
</html>
